%h1 Listing events

%table
  %tr
    %th Starting at
    %th Description
    %th Title
    %th Place
    %th Organizer
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.starting_at
      %td= event.description
      %td= event.title
      %td= event.place
      %td= event.organizer.name
      %td= link_to 'Show', event

      - if can? :manage, event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Event', new_event_path
