%p#notice= notice

%p
  %b Starting at:
  = @event.starting_at
%p
  %b Description:
  = @event.description
%p
  %b Title:
  = @event.title
%p
  %b Place:
  = @event.place
%p
  %b Organizer:
  = @event.organizer

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Comment', new_event_comment_path(@event)

%ul.comments
  - @event.comments.each do |comment|
    %li
      = comment.author.name
      = comment.body
