%h2= @submission.title

.submission
  .description
    %p
      = @submission.description
  .info  
    %dl
      %dt Author:
      %dd= @submission.author.name 
      %dt Liked by:
      %dd 
        %ul
          - @submission.users_voted.each do |user|
            %li= user.name
            
%h3 Comments
%dl#comments
  - @submission.comments.each do |comment|
    = render :partial => 'comments/comment', :locals => {:comment => comment}

.actions
  = link_to 'comment', new_event_submission_comment_path(@submission.event, @submission)

= content_for :user_actions do
  - if can? :manage, @submission
    = link_to 'edit', edit_event_submission_path(@submission.event, @submission)
